<div class="grid grid-limit home">
  <div class="home__content">
    {{ content_for_index }}
  </div>
  <div class="home__section">
    <div class="home__section-item">
      <img src="https://via.placeholder.com/200" alt="">
      <h2 class="home__item-title">Beach Locations</h2>
      <p>Find out which beach is the perfect venue for you to say, “I Do”. We perform beach weddings on the East coast
        and Gulf beaches of Florida. </p>
      <button class="home__section-button button">See Beaches</button>
    </div>
    <div class="home__section-item">
      <img src="https://via.placeholder.com/200" alt="">
      <h2 class="home__item-title">Packages</h2>
      <p>Whether the two of you are eloping, having a micro-wedding or bringing all your friends and family, we have a
        beach wedding package for you. </p>
      <button class="home__section-button button">Our Decor</button>
    </div>
    <div class="home__section-item">
      <img src="https://via.placeholder.com/200" alt="">
      <h2 class="home__item-title">Mail Me Information</h2>
      <p>It is quick and easy to have some basic information on our stress free beach wedding packages mailed to you.
      </p>
      <button class="home__section-button button">Contact Us</button>
    </div>
  </div>

  <h1 class="home__title">How do our Florida Beach Wedding Packages work?</h1>
  <div class="grid__item post-large--one-half locations__block home__half-block">
    <img src="https://floridabeachweddings.com/wp-content/uploads/2019/04/floridabeachweddings.jpg" alt="">
  </div>
  <div class="grid__item post-large--one-half locations__block home__half-block">
    <h2 class="home__subtitle">Browse Beach Wedding Packages</h2>
    <p>First, browse our affordable beach wedding packages to find the one that fits your needs and budget. Whether your
      wedding wish list includes an elegant beach elopement, a vow renewal, micro-wedding or a large ceremony surrounded
      by friends and family, we have an all inclusive wedding package that is right for you. Our married couples give us
      5 star reviews! Check out our newest package: the Dusty Blue Distinctive Design.</p>

    <h2 class="home__subtitle">Choose Beach Wedding Location</h2>
    <p>What is the best beach wedding location in Florida? Choose an all inclusive Clearwater Beach Wedding or one on
      the Atlantic coast of Florida Daytona Beach is our cheapest beach wedding location on the east coast. Check out
      our
      top locations to find the best beach venue for you to tie the knot. Gulf Beach wedding or Atlantic beach
      wedding…we do
      it all for you!</p>

    <h2 class="home__subtitle">Reserve Your Wedding Date</h2>
    <p>Once you have chosen your beachfront location, you can reserve your wedding date with us with a non-refundable
      deposit. This deposit is subtracted from your package balance.</p>

    <h2 class="home__subtitle">Customize Your Ceremony</h2>
    <p>After reserving your date, you will receive a link to your private client portal. This portal is unique for each
      couple and will include all important documents: your contract, decoration selections worksheet, invoices,
      optional additions and more. With a convenient e-signature, planning a destination wedding ceremony has never been
      easier or more secure. Your beach wedding planner is always available through email or phone. Find out more about
      getting a Florida Marriage License here.</p>

    <p>While we are always happy to assist our brides with the entire wedding process, our main focus is on the beach
      wedding ceremony, as we are strictly a beach wedding company. We will, however, provide you with a list of local
      recommendations to make this process easier for you including wedding reception venues, florists, salons and more.
    </p>

    <h2 class="home__subtitle">Get Married On The Beach</h2>
    <p>The week of your ceremony you will receive a completely detailed agenda so you know when to arrive at the beach
      where our Ceremony Coordinator will meet you! Finally, say, “I Do” on the beautiful beaches of Florida surrounded
      by the ones you love. Get married and enjoy the sun and sea!</p>
  </div>

  <!-- <div class="locations__wrapper grid-limit">
  <div class="grid__item post-large--one-half locations__block">
    <div class="location-box"
      style="background-image: url( {{page.metafields.locations.east-coast-bg-images[forloop.index0]}}">
      <a class="location-box__inner"
        href="{{routes.site_url}}{{page.metafields.east-coast.locations-link[forloop.index0]}}">
        <div>
          <h2 class="location-box__title">{{page.metafields.east-coast.location-name[forloop.index0]}}
          </h2>
          <span class="location-box__button">View Location</span>
        </div>
      </a>
    </div>
  </div>
  <div class="grid__item post-large--one-half locations__block">
    <div class="location-box"
      style="background-image: url( {{page.metafields.locations.west-coast-bg-images[forloop.index0]}}">
      <a class="location-box__inner"
        href="{{routes.site_url}}{{page.metafields.west-coast.locations-link[forloop.index0]}}">
        <div>
          <h2 class="location-box__title">{{page.metafields.west-coast.location-name[forloop.index0]}}
          </h2>
          <span class="location-box__button">View Location</span>
        </div>
      </a>
    </div>
  </div>
</div> -->
</div>
<div class="grid grid-limit home">
  <div class="home__text-section">
    <h2>Why Choose Us for Your Florida Beach Wedding</h2>
    <p>Working with a professional, reliable and experienced beach wedding company can make all the difference. With
      over
      13
      years of experience, our beach wedding specialists can recommend local amenities, answer any questions, pull all
      the
      necessary permits for you, and make sure all the details of your ceremony are executed flawlessly. We even know
      the
      tide and sunset times. Skilled crew members set up your beach wedding exactly as pictured online, so there are
      no
      surprises when you arrive on the beach! Our professional wedding photographers take great pride in making sure
      you
      get
      the best wedding pictures possible to show off back home.</p>

    <p>We are a family and friends company that understands just how important this wedding day is to you. We ensure
      that
      you
      get the beach wedding ceremony you have been dreaming of. For more information about our wedding company, visit
      our
      about us page. We believe everything about getting married on the beach should be simple. One of the most
      appealing
      things about a destination wedding is to escape the stress of a traditional wedding at home. Therefore, all of
      our
      decorations are pictured online and your private client portal will have your complete wedding information in
      one
      convenient location. All you have to do is show up with your Florida marriage license, say your chosen vows and
      exchange wedding rings on the beach! Check out our complete beach wedding ceremony packages here. All inclusive
      elopement packages are available for small weddings, vow renewals, and same sex marriage.</p>
  </div>
  <div class="home__gallery">
    <img src="https://floridabeachweddings.com/wp-content/uploads/2020/08/SiestaKeyCuteCouple-480x793.jpg" alt="">
    <img src="https://floridabeachweddings.com/wp-content/uploads/2017/12/ClearwaterWeddingPhoto.jpg" alt="">
    <img src="https://floridabeachweddings.com/wp-content/uploads/2020/12/DSC_0449copy-scaled.jpg" alt="">
    <img src="https://floridabeachweddings.com/wp-content/uploads/2019/02/clearwaterweddingceremony-2-768x1160.jpg"
      alt="">
  </div>

  <div class="home__text-section">
    <h2>Our Best Beach Wedding Locations</h2>
    <p>While we do cover most of the major beaches in Florida, our staff and couples have a few favorites! Anastasia
      State Park on the east coast provides charm near historic downtown St. Augustine. Clearwater Beach and Siesta Key
      are top Gulf beaches in the USA: perfect for a sunset wedding, they have white sand and a laid back, tropical
      atmosphere. Tie the knot on Cocoa Beach, the closest Orlando beach. Daytona Beach is your most affordable option:
      couples can save up to 50% over Gulf beaches. With hotels directly on the ocean, the beautiful sun and sea, you
      can’t go wrong. Pick your beach city and we come to you!</p>
  </div>
  <div class="home__locations">
    <div class="home__location-item">
      <img src="https://floridabeachweddings.com/wp-content/uploads/2019/02/DSC_5217.jpg" alt="">
      <a href="https://floridabeachweddings.com/east-coast-beaches/st-augustine-beach-weddings"><button
          class="button">St. Augustine
          Beach Weddings</button></a>
    </div>
    <div class="home__location-item">
      <img
        src="https://floridabeachweddings.com/wp-content/uploads/2020/05/Wedding-Couple-Sand-Key-scaled-e1589399567138.jpg"
        alt="">
      <a href="https://floridabeachweddings.com/west-coast-beaches/clearwater-beach-weddings"><button
          class="button">Clearwater Beach
          Weddings</button></a>
    </div>
    <div class="home__location-item">
      <img src="https://floridabeachweddings.com/wp-content/uploads/2019/01/beachweddings-2-copy-1024x683.jpg" alt="">
      <a href="https://floridabeachweddings.com/east-coast-beaches/daytona-beach-weddings"><button
          class="button">Daytona Beach
          Weddings</button></a>
    </div>
  </div>

  <div class="home__text-section">
    <h2>Customize Your Beach Wedding Package</h2>
    <p>All of our complete beach wedding packages can be customized to your colors and theme. Since most of our couples
      plan their wedding from a distance, we make it easy for you to see all of your choices online with freedom to
      design as you wish. With a wide variety of colors choices, flowers, accessories, music and vows, you can tie the
      knot with your own style. Dealing with one professional beach wedding company makes it easy to keep track of your
      contacts and ceremony costs. Our designers work hard to make sure that we stay modern, classy and timeless. </p>
  </div>
</div>