<div class="grid grid-limit contact-page">
  <div class="section-header">
    <h1 class="section-header--title">{{ page.metafields.contact-us.heading }}</h1>
    {{ page.content }}
  </div>
  <div class="contact-page__info">
    <div class="beach-wedding-blurb">
      <div class="beach-wedding-blurb__container">
        <div class="beach-wedding-blurb__content">
          <h3 class="beach-wedding-blurb__subheading">
            Florida Beach Weddings
          </h3>
          <p><strong>East Coast of Florida:</strong>
            <br>(386) 235-1549
            <br>413 Oak Pl, Daytona Beach, FL 32127
          </p>
          <p><strong>West Coast of Florida:</strong>
            <br>(727) 249-2708
            <br>1727 Coachman Plaza Dr, Clearwater, FL 33759
          </p>
          <p><strong>Email:</strong>
            <br>Pam@FloridaBeachWeddings.com
          </p>
          <span><em>Office visits by appointment only</em></span>
        </div>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0057/7434/4238/t/4/assets/acf.CouplesChoice2020small.png?v=1636208659"
        alt="">
    </div>
    <div class="contact-page__form-container">
      <p>Contact us today to start planning your beach wedding ceremony in Florida! When contacting us, <strong>include
          the following:</strong></p>
      <ul>
        <li class="contact-page__list-item">Your contact information, the package you are requesting (all of our
          packages are clearly listed what they include, as well as the cost of the package).</li>
        <li class="contact-page__list-item">
          City in Florida where you want to have your beach wedding ceremony.
        </li>
        <li class="contact-page__list-item">Include any specific questions that you have in order for us to be assist
          you.</li>
      </ul>

      <div class="contact-page__form">
        {% render "contact-form" %}
      </div>

    </div>
  </div>
  <div class="grid grid-limit contact-page__other-info">
    <div class="grid__item post-large--one-half contact-page__other-image">
      <div class="contact-page__image" style="background-image: url( {{page.metafields.contact-us.contact-us-image}}">
      </div>
    </div>
    <div class="grid__item post-large--one-half contact-page__other-description">
      <h2 class="contact-page__other-info-heading">{{page.metafields.contact-us.contact-us-other-info-heading}}</h2>
      <div class="contact-page__other-text">
        <p>{{page.metafields.contact-us.contact-us-text}}</p>
      </div>
    </div>
  </div>

</div>