<div class="rte about-page">
    <div class="grid grid-limit about-page__block about-page__block--one">
        <h1 class="about-page__title">{{ page.title }}</h1>
        <div class="about-page__container">
            <img class="about-page__image" src="{{page.metafields.about-us.about-us-main-img}}" />
            <div class="about-page__welcome">
                {{page.metafields.about-us.about-us-main-text}}
            </div>
        </div>

        <div class="about-page__team">
            <div class="about-page__team-container">
                <h2 class="about-page__subtitle">{{page.metafields.second-block.heading}}</h1>
                <div class="about-page__team-members">
                  {% for member in page.metafields.about-us.team-member-name %}
                  <div class="about-page__member">
                    <img alt="" class="about-page__member-image"
                        src="{{page.metafields.about-us.team-member-image[forloop.index0]}}">
                    <div class="about-page__member-info">
                      {% if page.metafields.about-us.team-member-name %}
                        <p class="about-page__member-name">{{page.metafields.about-us.team-member-name[forloop.index0]}}</p>
                      {% endif%}
                      {% if page.metafields.about-us.team-member-title %}
                        <p class="about-page__member-title">{{page.metafields.about-us.team-member-title[forloop.index0]}}</p>
                        {% endif%}
                    </div>
                  </div>
                  {% endfor%}
                </div>
            </div>
            <h2>Testimonials</h2>
            <div class="about-page__testimonial-container">
              {% for tesimonial in page.metafields.about-us.testimonial-text %}
                <div class="about-page__testimonial">
                    {% if page.metafields.about-us.testimonial-text %}
                    <p class="about-page__testimonial-text">{{page.metafields.about-us.testimonial-text[forloop.index0]}}</p>
                    {% endif%}
                    {% if page.metafields.about-us.testimonial-name %}
                    <span class="about-page__testimonial-name">{{page.metafields.about-us.testimonial-name[forloop.index0]}}</span>
                    {% endif%}
                </div>
                {% endfor%}
            </div>
            <div class="about-page__footer">
                <img alt="" class="about-page__footer-image"
                    src="https://floridabeachweddings.com/wp-content/uploads/2019/12/Pamela-Fuit-Beach-Wedding-Officiant-scaled-e1592336571292.jpg">
                <p class="about-page__text about-page__footer-text">
                  {{page.metafields.about-us.about-us-footer-text}}
                </p>
                <img alt=""
                    src="https://floridabeachweddings.com/wp-content/uploads/2019/05/floridabeachweddingsinDaytona-1080x245.jpg">
            </div>
        </div>
    </div>
</div>
