<div class="rte package-child-page">
  <section class="package-child-page__block package-child-page__block--tan">
    <div class="grid grid-limit">

      <div class="grid__item post-large--two-thirds">
        <div class="package-child-page__header">
          <h1 class="package-child-page__title">{{page.metafields.child-package.package-name}}</h1>
        </div>
        <div class="package-child-page__subheading">
          {{ page.content }}
        </div>
        <div class="package-child-page__image">
          <img src="{{page.metafields.child-package.package-image}}" />
        </div>
        <h2 class="package-child-page__heading">What is included with this package?</h2>
        {{ page.metafields.child-package.whats-included}}
      </div>

      <div class="grid__item post-large--one-third">
        <h4 class="package-child-page__list-heading">More Packages</h4>
        <div class="package-child-page__list">
          {% for package in page.metafields.child-package.more-packages-name %}
          <div class="package-child-page__list-item">
            <a
              href="{{routes.site_url}}{{page.metafields.child-package.more-packages-link[forloop.index0]}}">{{page.metafields.child-package.more-packages-name[forloop.index0]}}</a>
          </div>
          {% endfor%}
        </div>
      </div>

    </div>
    <div class="grid grid-limit">
      <div class="grid__item">
        {% if page.metafields.child-package.video-url %}
        <iframe width="1080" height="608" src="{{ page.metafields.child-package.video-url}}" frameborder="0"
          allowfullscreen=""></iframe>
        {% endif%}
      </div>
    </div>

    <div class="grid grid-limit package-child-page__box-row">
      <div class="grid__item post-large--one-third">
        <div class="border-box">
          <h4 class="border-box__title">TOTAL PARTICIPANTS</h4>
          <span class="border-box__amount">2-100</span>
          <p class="border-box__text">For groups over 50, <a href="https://floridabeachweddings.com/contact-us">contact
              us</a> for possible additional charges.</p>
        </div>
      </div>

      <div class="grid__item post-large--one-third">
        <div class="border-box">
          <h4 class="border-box__title">Use Drop Down For Pricing</h4>
          <form class="border-box__form">
            <select name="search_type" id="price-dropdown-select">
              <option disabled="disabled" selected="selected" value="">Click To Select Your Location</option>
              <option value="$2095.00">Clearwater & St. Petersburg Beach</option>
              <option value="$1850.00">Cocoa & Port Canaveral Beach</option>
              <option value="$1995.00">St. Augustine & Jacksonville Beach</option>
              <option value="$2350.00">Miami & Ft. Lauderdale Beach</option>
              <option value="$2095.00">Siesta Key & Lido Beach</option>
              <option value="$1850.00">Daytona, Ponce Inlet & New Smyrna Beach</option>
              <option value="$2350.00">Destin & Panama City Beach</option>
              <option value="$2350.00">Fort Myers</option>
            </select>
            <span id="package-price" class="border-box__amount"></span>
          </form>
          <p class="border-box__text">*Does not include any permit or parking fees that may be required</p>
        </div>
      </div>
      <div class="grid__item post-large--one-third">
        <div class="border-box">
          <h4 class="border-box__title">RESERVING YOUR DATE<br>NON-REFUNDABLE DEPOSIT</h4>
          <span class="border-box__amount">$500.00</span>
          <p class="border-box__text">This non-refundable deposit is required to reserve your date. This deposit will be
            subtracted from the package price. Any permit fees that may be required, will be due at time of reservation
            deposit.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="package-child-page__block">
    <div class="grid grid-limit">
      <div class="grid__item">
        Contact Form Here
      </div>
    </div>
  </section>

  <!-- {% if page.metafields.child-package.child-package-gallery-image %}
  <div class="grid grid-limit package-child-page__gallery">
    <h2 class="package-child-page__gallery-heading">{{page.metafields.child-package.child-package-gallery-heading}}</h2>
    <ul class="package-child-page__image-list">
      {% for image in page.metafields.child-package.child-package-gallery-image %}
      <li class="package-child-page__image">
        <img src="{{page.metafields.child-package.child-package-gallery-image[forloop.index0]}}" alt="">
      </li>
      {% endfor%}
    </ul>
  </div>
  {% endif%} -->

  {% if page.metafields.child-package.package-additional-info-image %}
  <section class="package-child-page__block package-child-page__block--tan">
    <div class="grid grid-limit">
      <div class="grid__item post-large--one-half">
        <img src="{{page.metafields.child-package.package-additional-info-image}}" alt="">
      </div>
      <div class="grid__item post-large--one-half">
        {{page.metafields.child-package.package-additional-info-text}}
      </div>
    </div>
  </section>
  {% endif%}

  <section class="package-child-page__block">
    <div class="grid grid-limit">
      <div class="grid__item package-child-page__section-three">
        <h3 class="package-child-page__section-three-title">{{page.metafields.child-package.package-footer-heading}}
        </h3>
        {% if page.metafields.child-package.package-image-footer %}
        <img class="package-child-page__section-three-image"
          src="{{page.metafields.child-package.package-image-footer}}" />
        {% endif%}
        <p class="package-child-page__section-three-text">{{page.metafields.child-package.package-footer-text}}</p>
      </div>
    </div>
  </section>
</div>


<!-- Javascript for dropdown -->

<script type="text/javascript">
  const priceDropdownSelect = document.getElementById('price-dropdown-select');

  priceDropdownSelect.addEventListener('change', (event) => {
    const packagePrice = document.getElementById('package-price');
    packagePrice.innerHTML = `<h4 class="package-child-page__package-cost">Package Cost</h4>` + event.target.value;
  });
</script>