<div class="rte location-child-page">
    <section class="location-child-page__block">
        <div class="grid grid-limit location-child-page__intro-container">
            <div class="grid__item post-large--one-half">
                {% if page.metafields.location.location-intro-image %}
                <div class="location-child-page__image"
                    style="background-image: url( {{page.metafields.location.location-intro-image}}">
                </div>
                {% endif%}
            </div>
            <div class="grid__item post-large--one-half">
                <h2 class="location-child-page__heading">{{page.metafields.location.location-name}}</h2>
                <div class="location-child-page__main-description">
                    <p>{{page.metafields.location.location-child-description}}</p>
                </div>
            </div>
        </div>
        {% if page.metafields.location.location-blurb-text %}
        <div class="beach-wedding-blurb">
            <div class="beach-wedding-blurb__container">
                <div class="beach-wedding-blurb__content">
                    {% if page.metafields.location.location-blurb-heading %}
                    <h2 class="beach-wedding-blurb__subheading">{{page.metafields.location.location-blurb-heading}}</h2>
                    {% endif%}
                    {% if page.metafields.location.location-blurb-text %}
                    <p class="beach-wedding-blurb__text">{{page.metafields.location.location-blurb-text}}</p>
                    {% endif%}
                </div>
            </div>
        </div>
        {% endif%}
        <div class="grid grid-limit location-child__package-header">
            <div class="grid__item post-large--one-half">
                <h3>
                    {% if page.metafields.location.location-package-heading %}
                    {{page.metafields.location.location-package-heading}}
                    {% endif%}
                </h3>
                <p>
                    {% if page.metafields.location.location-package-text %}
                    {{page.metafields.location.location-package-text}}
                    {% endif%}
                </p>
            </div>
            <div class="grid__item post-large--one-half">
                {% if page.metafields.location.location-video-url %}
                <iframe width="1080" height="608" src="{{page.metafields.location.location-video-url}}" frameborder="0"
                    allowfullscreen=""></iframe>
                {% endif%}
                {% if page.metafields.location.location-video-url == blank %}
                <img src="{{page.metafields.location.location-video-alt-photo}}" />
                {% endif%}
            </div>
        </div>
    </section>
    <section>
        <div class="locations__wrapper grid-limit">
            <div class="locations__wrapper grid-limit">
                <div class="location-child__package-container">
                    {% for package in page.metafields.beach-package.beach-package-description %}
                    <div class="location-child__package">
                        {% if page.metafields.beach-package.beach-package-photo %}
                        <div class="location-child__package-image"
                            style="background-image: url( {{page.metafields.beach-package.beach-package-photo[forloop.index0]}}">
                        </div>
                        {% endif%}
                        {% if page.metafields.beach-package.beach-package-heading %}
                        <h3 class="location-child-package__heading">
                            {{page.metafields.beach-package.beach-package-heading[forloop.index0]}}
                        </h3>
                        {% endif%}
                        {% if page.metafields.beach-package.beach-package-description %}
                        <p class="location-child-package__text">
                            {{page.metafields.beach-package.beach-package-description[forloop.index0]}}
                        </p>
                        {% endif%}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
